*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #283048;
    background: linear-gradient(#859398, #283048);
    background-repeat: no-repeat; /*Evita que se repita*/
    background-attachment: fixed;
    position: relative;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: aliceblue;
}


.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
} 


.logo{
    max-width: 7rem;
    padding: 10px;
}


.nav li a{
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

#integrantes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conteiner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;  
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;
    overflow: hidden;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
    text-decoration: none;
}

.link:hover a{
    text-transform:uppercase;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}


.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

#historia{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#historia p{
    color:azure;
}

.hist{
    padding: 60px;
}

.hist h1{
    text-align: center;
    padding: 30px;
}

.conteiner-carrusel{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, blue0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.carruseles{
    width: 400%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% / 4);
}

.slider-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left{
    left: 10px;
}

.btn-right{
    right: 10px;
}

.btn-left:hover,
.btn-right:hover{
    background-color: #333333d4;
    color: white;
}

.texto{
    /* arriba | derecha | abajo | izquierda */
    padding: 0 10% 2% 10%;
    text-align: center;
   
}

.texto p{
    font-size: 15px;
    padding: 30px;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color:darkblue;
    cursor: pointer;
}

button:hover {
    background-color: rgb(8, 58, 158);
}


#discos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5% 15% 5%;
}


#discos h1{
    padding-bottom: 5%;
    text-align: center;
    color: #f3f3f3;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color:crimson;
}



.contenedor{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}


.contenedor .carta{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.contenedor .carta:hover{
    height: 420px;
}

.contenedor .carta .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

.contenedor .carta .imgBx img{
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor .carta .contenido{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.contenedor .carta .contenido p{
    margin-top: 10px;
}

.contenedor .carta:hover .contenido{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}



footer{
    position: absolute;
    width: 100%;
    bottom: 0;

    padding: 1em 0;
    background: #111;
    height: auto;
    font-family: "Open Sans";
    color: #FFFF;
}

.contenedor-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenedor-footer h3{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #FFFFFF;
}

.socials a i{
    font-size: 1.4rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-buttom{
    background: #111;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer-buttom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/*@media screen and (max-width:768px){

    .logo{
        max-width: 7rem;
        padding: 10px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        width: 30%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
    
}*/