*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #283048;
    background: linear-gradient(#859398, #283048);
    background-repeat: no-repeat; /*Evita que se repita*/
    background-attachment: fixed;
    position: relative;
}

/* style.css */
formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}

.formulario__titulo{
    color:rgba(0,0,0,0.7);
    text-align: center;
    margin-top: 0;
    padding: 40px;
}

.formulario__input, .formulario__label, .formulario__submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario__input{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(131, 91, 209, 0.3);
    margin-bottom: 40px;
}

.formulario__input:focus{
outline: 1px solid rgba(0, 0, 0, 0.7);
}

.formulario__input:focus + .formulario__label{
margin-top: -135px;
}

.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color:rgba(0, 0, 0, 0.7);
    transition: all 0.2s;
}

.formulario__submit{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -135px;
}